asn1crypto==0.24.0
cffi==1.11.5
Click==7.0
cryptography==2.3.1
Flask==1.0.2
Flask-Login==0.4.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
# MarkupSafe==1.0
# mysql-connector==2.1.6
# mysql-connector-python==8.0.12
mysqlclient-deps==0.0.2
protobuf==3.6.1
pycparser==2.19
PyMySQL==0.9.2
six==1.11.0
SQLAlchemy==1.2.12
Werkzeug==0.14.1
WTForms==2.2.1
alembic==1.0.0
