<div class="container-fluid list_item col-sm-4">
     <div class="border" style="padding: 10px;min-height: 800px;">
        <div class="row thumbnail">
            <div class="col-sm " >
                {% if data.obrazek %}
                    <img class="col-sm" src="{{ url_for('static', filename=data.obrazek) }}">
                {% endif %}
            </div>
        </div>

        <div class="row item-title">
            <div class="col-sm">
                <span class="text-decorator">{{data.nazev }}</span>
            </div>
        </div>

        <div class="row item-producer">
            <div class="col-sm">
                    {{ data.vyrobce }}
            </div>
        </div>
        <hr>
        <div class="item-datas">
            <div class="row">
                <div class="col-sm-6">
                        <span class="text-decorator">Velikost:</span> {{ data.velikost }}
                </div>
                <div class="col-sm-6">
                        <span class="text-decorator">Počet kusů:</span>  {{ data.pocet }}
                </div>

            </div>
            <div class="row">
                <div class="col-sm">
                    <span class="text-decorator">Barva:</span>  {{ color }}
                    <input class="hidden" id="color_accessrory" value="{{ color }}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <span class="text-decorator">Typ:</span>  {{ data.typ }}
                </div>
            </div>
        </div>
        <hr>
        <div class="row item-description">
            <div class="col-lg">
                    {{ data.popis_vyuziti }}
            </div>

        </div>
        <hr>
        <div class="row item-footer">
            <div class="col-sm-6">
                 <button class="add btn btn-success" value="{{ data.id }}">Do košíku</button>
            </div>
            <div class="col-sm-6">
                   <span class="text-decorator">{{ data.cena }},- / den</span>
            </div>
        </div>
     </div>
 </div>

<script>
        $('.add').click(function (e){
            e.preventDefault();
            e.stopImmediatePropagation();
            Web.confirmOrder('accessories','add',$(this).attr("value"));
        });
</script>