
<div class="row border">
    <div>
        <div class="col-sm-4">
            Thumbnail
        </div>
    </div>

    <div>
        <div class="col-lg">
                Název: {{data[0].nazev }}
        </div>
        <div class="col-sm">
                Materiál {{ data[0].material }}
        </div>
        <div class="col-sm-1">
                Velikost {{ data[0].velikost }}
        </div>
        <div class="col-sm-1">
                Opotřebení {{ data[0].opotrebeni }}
        </div>
        <div class="col-sm-1">
              Počet {{ data[0].pocet}}
        </div>
        <div class="col-sm-1">
              Datum výroby {{ data[0].datum_vyroby }}
        </div>
        <div class="col-sm-1">
              Barva {{ data[1].barva }}
        </div>
        <div class="col-sm-1">
              Cena {{ data[0].cena }}
        </div>
    </div>
    <div>
        <div class="col-lg">
                Popis: {{ data[0].popis_vyuziti  }}
        </div>
        <button class="add btn btn-success" value="{{ data[0].id }}">Do košíku</button>
    </div>
 </div>

<script>
        $('.add').click(function (e){
            e.preventDefault();
            e.stopImmediatePropagation();
            Web.confirmOrder('accessories','add',$(this).attr("value"));
        });
</script>
