<div class="container-fluid border list_item">
    <div class="row thumbnail">
        <div class="col-sm " >
            Thumbnail
        </div>
    </div>

    <div class="row item-title">
        <div class="col-sm">
            <span class="text-decorator">{{data[0].nazev }}</span>
        </div>
    </div>

    <div class="row item-producer">
        <div class="col-sm">
                {{ data[0].vyrobce }}
        </div>
    </div>
    <hr>
    <div class="item-datas">
        <div class="row">
            <div class="col-sm-6">
                    <span class="text-decorator">Velikost:</span> {{ data[0].velikost }}
            </div>
            <div class="col-sm-6">
                    <span class="text-decorator">Počet kusů:</span>  {{ data[0].pocet }}
            </div>

        </div>
        <div class="row">
            <div class="col-sm">
                    <span class="text-decorator">Opotřebení:</span>  {{ data[0].opotrebeni }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                    <span class="text-decorator">Vyrobeno:</span>  {{ data[0].datum_vyroby }}
            </div>
        </div>
    </div>
    <hr>
    <div class="row item-description">
        <div class="col-lg">
                {{ data[0].popis_vyuziti }}
        </div>

    </div>
    <hr>
    <div class="row item-footer">
        <div class="col-sm-8">
             <button class="add btn btn-success" value="{{ data[0].id }}">Do košíku</button>
        </div>
        <div class="col-sm-4">
               <span class="text-decorator">{{ data[0].cena }},-</span>
        </div>
    </div>
 </div>

<script>
        $('.add').click(function (e){
            e.preventDefault();
            e.stopImmediatePropagation();
            Web.confirmOrder('accessories','add',$(this).attr("value"));
        });
</script>