<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/iis.js') }}"></script>

<div class=" cart-item  col-sm-6" >
<div class="border" style="padding: 10px; height:450px;">
    <div class="row thumbnail" >
        <div class="col-sm">
            Thumbnail
        </div>
    </div>
    <div class="row cart-item-title">
        <div class="col-sm">
            <span class="text-decorator">{{data[0].nazev }}</span>
        </div>
    </div>
    <div class="row cart-item-producer">
        <div class="col-sm">
                {{ data[0].vyrobce }}
        </div>
    </div>
    <hr>
    <div class="row cart-item-datas">
        <div class="col-sm-4">
            <span class="text-decorator">Velikost:</span>  {{data[0].velikost }}
        </div>
        <div class="col-sm-4">
            <span class="text-decorator">Cena za kus:</span>  {{data[0].cena }}
        </div>
        <div class="col-sm-4">
            <span class="text-decorator">Počet kusů:</span>
                {% if data._fields[0] == "Kostym" %}
                    {{ cos_count[ data[0].id|string] }}
                {% else %}
                    {{ acc_count[data[0].id|string]  }}
                {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
                <button class="remove btn btn-danger" name="{{ data._fields[0]  }}" value="{{ data[0].id }}">Odebrat z košíku</button>
        </div>
    </div>
</div>
</div>




<script>
        $('.remove').click(function (e){
            e.preventDefault();
            e.stopImmediatePropagation();

            var type;
            if ($(this).attr("name") == "Kostym")
                type = "costumes";
            else
                type = "accessories";
            Web.confirmOrder(type,'remove',$(this).attr("value"));
        });
</script>