{% extends 'base.html' %}
{% block title %}Košík{% endblock %}

{% block body %}
    {% if session['cart']['prize'] == 0 %}
        <h3 align="center">Košík je prázdný</h3>
    {% else %}
    {% for item in items %}
        {% with data=item, cos_count=cos_count,acc_count=acc_count%}
            {% include 'cart_item.html' %}
        {% endwith %}
    {% endfor %}
    <form action="{{ url_for('new-order') }}" method="get">
    <div class="border" id="reservation-info-line">
        <span style="font-size: 1.3em" class="text-decorator">Celkem:</span><span style="font-size: 1.5em"> {{ session['cart']['prize'] }},-</span>
        <button style="margin-left: 10px"  class="btn btn-success">Dokončit rezervaci</button>
    </div>
    </form>
    {% endif %}
{% endblock %}
