{% extends 'base.html' %}
{% block title %}Správa kostýmů{% endblock %}

{% block body %}
    <table id="costumes-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Kostým</th>
                <th>Výrobce</th>
                <th>Materiál</th>
                <th>Velikost</th>
                <th>Počet kusů</th>
                <th>Cena</th>
                <th>Barva</th>
                <th>Opotřebení</th>
                <th>Akce</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function(){
           Admin.costumesDatatable();
        });
    </script>
{% endblock %}