
<div class="row border">
    <div>
        <div class="col-sm-4">
            Thumbnail
        </div>
    </div>

    <div>
        <div class="col-lg">
                Výrobce: {{data[0].vyrobce }}
        </div>
        <div class="col-sm">
                Materiál {{ data[0].material }}
        </div>
        <div class="col-sm-1">
                Velikost {{data[0].velikost }}
        </div>
        <div class="col-sm-1">
                Opotřebení {{data[0].opotrebeni }}
        </div>
        <div class="col-sm-1">
              Počet {{data[0].pocet }}
        </div>
        <div class="col-sm-1">
              Datum výroby {{data[0].datum_vyroby }}
        </div>
        <div class="col-sm-1">
              Barva {{data[1].barva }}
        </div>
        <div class="col-sm-1">
              Vyuziti {{data[2].druh_akce }}
        </div>
    </div>
    <div>
        <div class="col-lg">
                Popis: {{ data[0].popis }}
        </div>
        <div class="col-lg">
               Obědnat: <input type="checkbox" title="Obědnat" class="order-checkbox" value="{{ data[0].id }}">
        </div>
    </div>
 </div>

