
<div class="row border">
    <div>
        <div class="col-sm-4">
            Thumbnail
        </div>
    </div>

    <div>
        <div class="col-lg">
                Výrobce: {{costume.vyrobce }}
        </div>
        <div class="col-sm">
                Materiál {{ costume.material }}
        </div>
        <div class="col-sm-1">
                Velikost
        </div>
        <div class="col-sm-1">
                Opotřebení
        </div>
        <div class="col-sm-1">
              Počet
        </div>
        <div class="col-sm-1">
              Datum výroby
        </div>
    </div>
    <div>
        <div class="col-lg">
                Popis: {{ costume.popis }}
        </div>
        <div class="col-lg">
               Obědnat: <input type="checkbox" title="Obědnat" class="order-checkbox" value="{{ costume.id }}">
        </div>
    </div>
 </div>

