{% extends 'base.html' %}
{% block title %}Objednávka{% endblock %}
{% block body %}
    <h1>Vytvořit objednávku</h1>
    <form action="{{ url_for('new-order') }}" method="post">
        <div class="form-group row">
            <div class="col">
                <label>{{ form.nazev_akce.label }}*</label>
                {{ form.nazev_akce(**{'class': 'form-control' + (' is-invalid'  if form.nazev_akce.errors else '') }) }}
                <div class="invalid-feedback">{{ form.nazev_akce.errors[0] }}</div>
            </div>
            <div class="col">
                <label>{{ form.cena.label }}*</label>
                {{ form.cena(**{'class': 'form-control' + (' is-invalid'  if form.cena.errors else '') }) }}
                <div class="invalid-feedback">{{ form.cena.errors[0] }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" value="Vytvořit rezervaci" class="btn btn-primary">
                <span class="">Pole označená * jsou povinná</span>
            </div>
        </div>
    </form>
{% endblock %}