{% extends 'base.html' %}
{% block title %}Objednávka{% endblock %}
{% block body %}
    <h1>Vytvořit objednávku</h1>
    <form action="{{ url_for('new-order') }}" method="post">
        <div class="form-group row">
            <div class="col">
                <label>{{ form.nazev_akce.label }}*</label>
                {{ form.nazev_akce(**{'class': 'form-control' + (' is-invalid'  if form.nazev_akce.errors else '') }) }}
                <div class="invalid-feedback">{{ form.nazev_akce.errors[0] }}</div>
            </div>
            <div class="col">
                <label>{{ form.datum_vraceni.label }}</label>
                {{ form.datum_vraceni(id="datum_vraceni") }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <input type="submit" value="Vytvořit rezervaci" class="btn btn-primary">
                <span class="">Pole označená * jsou povinná</span>
            </div>
            <div class="col">
                <h2>Celkem: <span id="order_prize">{{ session['cart']['prize'] }}</span></h2>
            </div>
        </div>
    </form>

{% endblock %}

{% block footer %}
    <script>
    $(document).ready(function(){

        $('#datum_vraceni').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'dd.mm.yyyy'
        });

    });


    </script>
{% endblock %}