{% extends 'base.html' %}
{% block title %}Správa objednávek{% endblock %}

{% block body %}
    <table id="all-orders" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Název akce</th>
                <th>Datum vypůjčení</th>
                <th>Datum vrácení</th>
                <th>Objednavatel</th>
                <th>Cena</th>
                <th>Stav</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function(){
           Admin.allOrdersDatatable();
        });
    </script>
{% endblock %}