{% extends 'base.html' %}
{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil</h1>
    <div class="container">
        <dt>Jméno:</dt>
        <dd>{{ data.jmeno }}</dd>
        <dt>Přímení:</dt>
        <dd>{{ data.prijmeni }}</dd>
        <dt>Email:</dt>
        <dd>{{ data.email }}</dd>
        {% if data.ulice or data.cislo_popisne or data.obec %}
            <dt>Adresa:</dt>
            <dd>{{ data.ulice }} {{ data.cislo_popisne }}{% if data.obec %}, {{ data.obec }}{% endif %}</dd>
        {% endif %}
        <dt>Rodné číslo:</dt>
        <dd>{{ data.rc }}</dd>
        <dt>Členství:</dt>
        <dd>{{ membership }}</dd>
        {% if position %}
            <dt>Pozice:</dt>
            <dd>{{ position }}</dd>
        {% endif %}
    </div>
{% endblock %}