{% extends 'base.html' %}
{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil</h1>
    <div class="container">
        Jméno: {{ data[0].jmeno }}
        Přímení: {{ data[0].prijmeni }}
        Email: {{ data[0].email }}
        Adresa: {{ data[0].ulice }} {{ data[0].cislo_popisne }}, mesto
        Rodné číslo: {{ data[0].rc }}
        Členství: {{ data }}
        {% if data.pozice %}
        Pozice: {{ data.pozice }}
        {% endif %}

        <button>Změnit heslo</button>
        <button>Upravit profil</button>
    </div>
{% endblock %}