{% extends 'base.html' %}
{% block title %}Přidat vlastnost{% endblock %}
{% block body %}
    <h1>Přidat vlastnosti</h1>
    <form action="{{ url_for('add-use') }}" method="post">
        <div class="form-group row">
            <div class="col-2-sm">
                <label>{{ form_use.vyuziti.label }}*</label>
            </div>
            <div class="col">

                {{ form_use.vyuziti(**{'class': 'form-control' + (' is-invalid'  if form_use.vyuziti.errors else '') }) }}
                <div class="invalid-feedback">{{ form_use.vyuziti.errors[0] }}</div>
            </div>
            <div class="col">
                <input type="submit" value="Přidat" class="btn btn-primary">
            </div>
        </div>
    </form>

{% endblock %}