/* Stackoverflow preview fix, please ignore */
.navbar-nav {
    flex-direction: row;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

#submit-order {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

#cart-remove {
    position: fixed;
    bottom: 80px;
    right: 40px;
}