/* Stackoverflow preview fix, please ignore */
.navbar-nav {
    flex-direction: row;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.list_item {
    padding: 3px;
    float: left;
    min-height: 800px;
    min-width: 300px;
}

.thumbnail {
    height: 250px
}

.item-title {
    min-height: 80px;
    font-size: 1.3em;
}

.item-producer {
    font-size: 1.2em;
}

.item-datas {
    font-size: 1.07em;
    min-height: 10%;
}

.item-description {
    min-height: 200px;
}

.item-footer {
    font-size: 1.4em;

}

.text-decorator {
    font-weight: bold;
}

.cart-item {
    padding: 3px;
    float: left;
    min-height: 450px;
    min-width: 300px;

}

.cart-item-title {
    min-height: 50px;
    font-size: 1.3em;
    margin-top: 0.8em;
}

.cart-item-producer{
    font-size: 1.2em;
    height: 6%;
}

.cart-item-datas {
    margin-bottom: 10px;
}

#reservation-info-line {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 5px;
    background-color: white;
}